---
import { eventDetails } from './prospectusContent.js';
import { getImage } from 'astro:assets';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import { Icon } from 'astro-icon/components';
import _map from '~/assets/images/prospectus/map.png';
import _glow from '~/assets/images/prospectus/glow.png';

const map = await getImage({ src: _map, quality: 100, width: 460, height: 481 });
const glow = await getImage({ src: _glow, quality: 100, width: 460, height: 481 });
const { bg = await Astro.slots.render('bg') } = Astro.props;
---

<WidgetWrapper containerClass={`max-w-7xl relative overflow-hidden mx-auto flex p-8 md:p-16 max-w-7xl mx-auto`} bg={bg}>
  <div class="basis-5/6 md:basis-2/3 z-[1]">
    <h2 class="text-pycon-yellow font-bold text-2xl sm:text-4xl mb-12">Event Details</h2>
    {
      eventDetails.map((detail) => (
        <div class="flex md:text-xl text-md gap-2 items-start mb-4">
          <Icon name={detail.icon} class="flex-shrink-0 w-5 sm:w-12 h-auto" />
          <span class="leading-9 -mt-2 sm:mt-2 font-medium">{detail.text}</span>
        </div>
      ))
    }
  </div>
  <div class="basis-1/6 md:basis-1/3">
    <div
      class="absolute inset-0 top-0 z-0 overflow-hidden bg-no-repeat bg-contain bg-right -right-48 md:-right-40 lg:right-0 filter brightness-75 md:brightness-100"
      style={`background-image: url(${map.src});`}
    >
    </div>
    <div
      class="absolute inset-0 top-0 z-0 overflow-hidden bg-no-repeat bg-contain bg-right -right-48 md:-right-40 lg:right-0 filter brightness-75 md:brightness-100"
      style={`background-image: url(${glow.src});`}
    >
    </div>
  </div>
</WidgetWrapper>
