---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import _ellipse2 from '~/assets/images/ellipse2.png';
import _pGrid from '~/assets/images/code-of-conduct/p-grid.png';
import { getImage } from 'astro:assets';
import SpeakersDesktop from './SpeakersDesktop.astro';
import SpeakersMobile from './SpeakersMobile.astro';
import type { Speaker } from '~/cms/types';

interface Props {
  title?: string;
  subtitle?: string;
  id?: string;
  isDark?: boolean;
  classes?: { container?: string };
  bg?: any;
  speakers: Speaker[];
}

const ellipse2 = await getImage({ src: _ellipse2, quality: 100 });
const pGrid = await getImage({ src: _pGrid, quality: 100 });

const { id, speakers } = Astro.props;
---

<WidgetWrapper id={id} containerClass="flex flex-col items-center gap-4 sm:gap-10 overflow-clip w-screen">
  <div class="hidden sm:block w-screen opacity-60">
    <div
      class="absolute scale-x-[-1] top-[-20vw] left-[-10vw] z-0 bg-no-repeat bg-cover rotate-[25deg] h-[50vw] w-[35vw]"
      style=`background-image: url(${pGrid.src})`
    >
    </div>
    <div
      class="absolute top-[-20vw] right-[-10vw] z-0 bg-no-repeat bg-cover -rotate-[25deg] h-[50vw] w-[35vw]"
      style=`background-image: url(${pGrid.src})`
    >
    </div>
  </div>
  <h2 class="text-4xl sm:text-6xl text-white font-bold text-center">
    Our <span class="text-pycon-yellow">Speakers</span>
  </h2>

  <h3 class="text-xl sm:text-2xl sm:max-w-[41rem] text-white text-center font-bold italic mb-10">
    Discover groundbreaking ideas from our speakers at
    <span class="text-pycon-yellow">Pyconf Mini Davao 2024</span>
  </h3>

  <div class="grid sm:grid-cols-2 lg:grid-cols-3 sm:gap-4 md:gap-10">
    {
      speakers.map((speaker) => (
        <span>
          {/* RESPONSIVE DISPLAY */}
          <SpeakersDesktop speaker={speaker} />
          <SpeakersMobile speaker={speaker} />
        </span>
      ))
    }
  </div>
  <Fragment slot="bg">
    <div
      class="hidden lg:block absolute inset-0 z-0 mix-blend-luminosity overflow-visible bg-no-repeat"
      style={`background-image: url(${ellipse2.src}); background-position: 50% 80%; background-size: auto 1000px;`}
    >
    </div>
  </Fragment>
</WidgetWrapper>
