---
import Layout from '~/layouts/PageLayout.astro';

import Note from '~/components/widgets/Note.astro';
import SponsorshipPackage from '~/components/widgets/SponsorshipPackage.astro';
import { Icon } from 'astro-icon/components';
import Button from '~/components/ui/Button.astro';
import Image from 'astro/components/Image.astro';
import pyconBlueprint from '~/assets/images/pycon-blueprint.svg';
import map from '~/assets/images/prospectus/map.png';

import { sponsorshipDetails, sponsorshipPackages, metadata, eventDetails } from './prospectusContent.js';
---

<Layout metadata={metadata}>
  <section class="flex flex-col items-center font-montserrat mt-20">
    <div class="flex flex-col items-center">
      <span
        class="font-semibold text-xl sm:text-3xl bg-gradient-to-b from-[#FEF85D] via-[#CEC94C] to-[#989438] inline-block text-transparent bg-clip-text"
        >PYCON MINI DAVAO 2024</span
      >
      <span
        class="font-bold text-2xl sm:text-[2.4rem] bg-gradient-to-b from-[#FEF85D] via-[#CEC94C] to-[#989438] inline-block text-transparent bg-clip-text"
        >SPONSORSHIP PROSPECTUS</span
      >
    </div>

    <Note class="m-8">
      <p slot="content" class="text-left">
        For sponsorship inquiries, please reach out to <strong>Arnel Jan Sarmiento</strong>, Community Lead of DurianPy
        Davao Python User Group, at <strong>durianpy.davao@gmail.com</strong>.
      </p>
    </Note>

    <section class="flex p-8 md:p-16 gap-10 w-11/12">
      <div class="">
        <div class="font-bold text-xl xl:mb-16 md:text-4xl md:w-[50%] text-pycon-yellow md:text-white">
          <span class="text-pycon-yellow">About</span> Pycon <br />Mini Davao <span class="text-pycon-yellow">2024</span
          >
        </div>
        <Icon name="quote" class="w-[80px] md:w-[100px] h-auto" />
        <p class="pl-8 md:pl-5 md:text-lg lg:text-2xl font-medium leading-6 lg:leading-9">
          PyCon Mini Davao 2024 is a half-day event dedicated to empowering the Python community in Davao City. Under
          the theme <span class="text-pycon-yellow">"Empowering Innovation Through Python" </span>this event will bring
          together Python developers, tech enthusiasts, and professionals to explore the role of Python in driving
          innovation within local startups and agencies.
        </p>
      </div>
      <!-- Right: Image thing -->
      <Image
        src={pyconBlueprint}
        alt="pycon blueprint"
        class="w-[250%] max-h-[700px] md:static absolute md:visible invisible"
      />
    </section>

    <section class="flex min-w-full max-w-full bg-pycon-purple bg-opacity-[0.17] px-12 overflow-x-hidden">
      <div class="sm:p-16 md:pr-16 p-8 pr-0 flex-grow">
        <h2 class="text-pycon-yellow font-bold text-2xl sm:text-4xl mb-6">Event Details</h2>
        {
          eventDetails.map((detail) => (
            <div class="flex md:text-xl text-md gap-2 items-start mb-4">
              <Icon name={detail.icon} class="flex-shrink-0 w-5 sm:w-12 h-auto" />
              <span class="leading-9 -mt-2 sm:mt-2">{detail.text}</span>
            </div>
          ))
        }
      </div>
      <Image src={map} alt="map" class="h-fit md:mr-auto -mr-64 flex-shrink" />
    </section>

    <section class="md:p-24 p-[1.75rem] pb-0 w-full flex flex-col items-center">
      <h2 class="text-4xl font-bold mb-16"><span class="text-pycon-yellow">Why Sponsor</span> Pycon Mini Davao?</h2>

      <div class="flex w-full gap-6 justify-between">
        {
          sponsorshipDetails.map(({ icon, heading, items }) => (
            <div>
              <div class="flex gap-3 items-center mb-5">
                <Icon name={icon} class="w-5 h-5" />
                <h3 class="text-pycon-yellow font-bold">{heading}</h3>
              </div>
              <ul class="list-disc">
                {items.map((item) => (
                  <li class="leading-7">{item}</li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </section>

    <section class="p-[1.75rem] md:p-24">
      <h2 class="text-pycon-yellow font-bold text-xl sm:text-4xl">Sponsorship Packages</h2>
      <p class="font-semibold mb-12">
        We offer a range of sponsorship packages to meet your business goals. Below are the available sponsorship
        levels:
      </p>

      <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-10">
        {sponsorshipPackages.map((sponsorship) => <SponsorshipPackage {...sponsorship} />)}
      </div>
    </section>

    <section
      class="w-full py-8 md:py-20 px-10 gap-5 flex flex-col items-center text-center bg-pycon-purple bg-opacity-[0.17]"
    >
      <h2 class="text-pycon-yellow text-4xl font-bold">GET INVOLVED</h2>
      <p class="md:text-xl">
        We are open to discussing customized sponsorship packages to best align with your business objectives. If you
        are interested in sponsoring PyCon Mini Davao 2024 or have any questions, please contact us at
        durianpy.davao@gmail.com.
        <br />
        <br />
        We look forward to partnering with you to make PyCon Mini Davao 2024 a success!
      </p>
      <!-- TODO: add href -->
      <Button
        variant="secondary"
        class="border-pycon-purple dark:border-pycon-purple py-2 md:text-lg drop-shadow-[0_0_35px_rgba(255,255,255,0.35)]"
        >Contact Us</Button
      >
    </section>
  </section>
</Layout>
