---
import { Icon } from 'astro-icon/components';
import { SITE } from 'astrowind:config';
import { getHomePermalink } from '~/utils/permalinks';

import { Image } from 'astro:assets';
import pyconFooter from '~/assets/images/footer.png';
import gridBg from '~/assets/images/grid.png';
import ellipse from '~/assets/images/ellipse.png';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}

const { socialLinks = [], theme = 'light' } = Astro.props;
---

<footer class:list={[{ dark: theme === 'dark' }, 'relative border-t border-gray-200 dark:border-slate-800 not-prose']}>
  <Image src={gridBg} alt="Grid background" class="h-[85%] min-w-full absolute bottom-0 max-w-full z-[1]" />
  <Image src={ellipse} alt="Ellipse background" class="h-[20%] min-w-full absolute bottom-0 max-w-full bg-bottom z-0" />
  <div class="max-w-7xl mx-auto px-4 sm:px-6 z-[2]">
    <div class="flex flex-col items-center py-6 md:py-8">
      <Image src={pyconFooter} alt="White Pycon Mini logo" class="mix-blend-luminosity mb-12 z-[2]" />
      <a
        class="font-montserrat text-pycon-yellow text-5xl mb-10 z-[2]"
        href="https://www.techtix.app/pycon-mini-davao-2024/preregister"
        target="_blank"
      >
        GET TICKETS
      </a>
      <div class="font-montserrat text-white text-center mb-5">
        <span>Message us at</span><br />
        <span>durianpy.davao@gmail.com for</span><br />
        <span>questions and inquiries</span>
      </div>

      {
        socialLinks?.length ? (
          <ul class="flex gap-2 mb-40 z-[2]">
            {socialLinks.map(({ ariaLabel, icon, href }) => (
              <li>
                <a aria-label={ariaLabel} href={href} target="_blank">
                  {icon && <Icon name={icon} class="w-8 h-8" />}
                </a>
              </li>
            ))}
          </ul>
        ) : (
          ''
        )
      }
    </div>
  </div>
</footer>
