---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import pyconFooter from '~/assets/images/logo.png';
import gridBg from '~/assets/images/grid.png';
import ellipse from '~/assets/images/ellipse.png';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

export interface Props {
  socialLinks: Array<Link>;
  theme?: string;
}

const { socialLinks = [], theme = 'light' } = Astro.props;
---

<footer class:list={[{ dark: theme === 'dark' }, 'relative not-prose']}>
  <div
    class="absolute inset-0 bottom-0 z-0 mix-blend-luminosity overflow-visible bg-no-repeat bg-cover bg-right"
    style={`background-image: url(${gridBg.src}); background-position: 0% 100%;`}
  >
  </div>
  <div
    class="absolute inset-0 bottom-0 z-0 mix-blend-luminosity overflow-visible bg-no-repeat bg-right"
    style={`background-image: url(${ellipse.src}); background-position: 50% 100%; background-size: 90% 30%;`}
  >
  </div>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 z-[2]">
    <div class="flex flex-col items-center py-4 md:py-8">
      <Image
        src={pyconFooter}
        height={700}
        width={800}
        alt="White Pycon Mini logo"
        class="mix-blend-luminosity mb-4 z-[2]"
      />
      <a
        class="text-center font-montserrat text-pycon-yellow text-5xl mb-10 z-[2]"
        href="https://www.techtix.app/pycon-mini-davao-2024/preregister"
        target="_blank"
      >
        GET TICKETS
      </a>
      <div class="font-montserrat text-white text-center mb-5">
        <span>Message us at</span><br />
        <span>durianpy.davao@gmail.com for</span><br />
        <span>questions and inquiries</span>
      </div>

      {
        socialLinks?.length ? (
          <ul class="flex gap-2 mb-40 z-[2]">
            {socialLinks.map(({ ariaLabel, icon, href }) => (
              <li>
                <a aria-label={ariaLabel} href={href} target="_blank">
                  {icon && <Icon name={icon} class="w-8 h-8" />}
                </a>
              </li>
            ))}
          </ul>
        ) : (
          ''
        )
      }
    </div>
  </div>
</footer>
