---
import { Icon } from 'astro-icon/components';
import Logo from '~/components/Logo.astro';
import ToggleMenu from '~/components/common/ToggleMenu.astro';

import { getHomePermalink } from '~/utils/permalinks';
import { trimSlash } from '~/utils/permalinks';
import type { CallToAction } from '~/types';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface ActionLink extends CallToAction {}

interface MenuLink extends Link {
  links?: Array<MenuLink>;
}

export interface Props {
  id?: string;
  links?: Array<MenuLink>;
  actions?: Array<ActionLink>;
  isSticky?: boolean;
  isDark?: boolean;
  isFullWidth?: boolean;
  showToggleTheme?: boolean;
  showRssFeed?: boolean;
  position?: string;
}

const {
  id = 'header',
  links = [],
  isSticky = false,
  isDark = false,
  isFullWidth = false,
  position = 'center',
} = Astro.props;

const currentPath = `/${trimSlash(new URL(Astro.url).pathname)}`;
---

<header
  class:list={[
    { sticky: isSticky, relative: !isSticky, dark: isDark },
    'top-0 z-40 flex-none w-full border-b border-gray-50/0 transition-[opacity] ease-in-out',
  ]}
  {...isSticky ? { 'data-aw-sticky-header': true } : {}}
  {...id ? { id } : {}}
>
  <div class="absolute inset-0"></div>
  <div
    class:list={[
      'relative text-default w-full',
      {
        'md:flex md:justify-center': position !== 'center',
      },
      {
        'md:flex md:grid-cols-2 md:items-center': position === 'center',
      },
      {
        'mx-auto max-w-7xl': !isFullWidth,
      },
    ]}
  >
    <div class:list={[{ 'mr-auto rtl:mr-0 rtl:ml-auto': position === 'right' }, 'flex justify-between mr-2']}>
      <a class="flex items-center" href={getHomePermalink()}>
        <Logo />
      </a>
      <div class="flex items-center md:hidden">
        <ToggleMenu />
      </div>
    </div>
    <nav
      class="w-full md:w-auto hidden md:flex md:flex-1 md:justify-end md:mx-5 text-white overflow-y-auto overflow-x-hidden md:overflow-y-visible md:overflow-x-auto md:justify-self-center"
      aria-label="Main navigation"
    >
    <ul
      class="flex flex-col md:flex-row md:self-center w-full md:w-auto text-xl md:text-[0.9375rem] tracking-[0.01rem] font-medium md:justify-center"
    >
      {
        links.map(({ text, href, links }) => (
          <li class={links?.length ? 'dropdown' : ''}>
            {links?.length ? (
              <>
                <button type="button" class="hover:text-link dark:hover:text-white px-4 py-3 flex items-center">
                  {text}{' '}
                  <Icon name="tabler:menu-2" class="size-3.5 md:size-8 ml-0.5 rtl:ml-0 rtl:mr-0.5 hidden md:inline" />
                </button>
                <ul class="dropdown-menu md:backdrop-blur-md dark:md:bg-dark rounded md:absolute md:pl-0 md:hidden font-medium md:bg-dark md:min-w-[200px] drop-shadow-xl">
                  {links.map(({ text: text2, href: href2 }) => (
                    <li>
                      <a
                        class:list={[
                          'first:rounded-t last:rounded-b md:hover:bg-gray-700 hover:text-link hover:text-[#FEF85D] text-center md:leading-5 md:text-start py-4 md:py-2 px-5 block whitespace-no-wrap',
                          { 'aw-link-active': href2 === currentPath },
                        ]}
                        href={href2}
                      >
                        {text2}
                      </a>
                    </li>
                  ))}
                </ul>
              </>
            ) : (
              <a
                class:list={[
                  'hover:text-link dark:hover:text-white px-4 py-3 flex items-center',
                  { 'aw-link-active': href === currentPath },
                ]}
                href={href}
              >
                {text}
              </a>
            )}
          </li>
        ))
      }
    </ul>
    </nav>
  </div>
</header>

<style>
  #header {
    background: conic-gradient(
      from 90deg at 3.26% 50.72%,
      #2a0455 -2.13deg,
      #3a3921 119.88deg,
      #2a0455 357.87deg,
      #3a3921 479.88deg
    );
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  }
</style>
