---
import { getImage, Image } from 'astro:assets';
import _grid from '~/assets/images/sponsors/grid.png';
import type { GroupedSponsorTier } from '~/cms/types';

interface Props {
  sponsorGroup: GroupedSponsorTier;
}

const { sponsorGroup } = Astro.props;
const { name,priority, billingAcknowledgement, sponsors } = sponsorGroup;

const grid = await getImage({ src: _grid, quality: 100 });

---

<div class="w-full relative">
  <!-- HEADER -->
  <div
    class="absolute whitespace-nowrap left-1/2 transform -translate-x-1/2 p-2 px-4 rounded-xl text-center bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-[#FEF85D] to-[#989438]"
  >
    <h3 class="font-extrabold text-lg md:text-2xl uppercase text-[#453C1A]">{billingAcknowledgement}</h3>
  </div>

  <div class="mt-5 p-1 rounded-lg border-gradient w-full">
    <!-- SPONSORS -->
    <div
      class="text-center p-2 pt-10 sm:p-10 sm:pt-14 flex flex-wrap items-center justify-evenly gap-2 sm:gap-4 bg-contain"
      style={`background-image:url(${grid.src})`}
    >
      {
        sponsors.map((sponsor) => {
          const containerClass = `flex flex-shrink-0 flex-col items-center md:px-4 text-lg md:text-[1.75rem] text-${priority}`;
          const imageContainerClass = `frame-${priority}`;
          const h4Class = `font-bold ${priority === 6 ? 'hidden' : ''}`;
          const h5Class = `italic font-medium md:text-xl ${priority > 6 ? 'hidden' : ''}`;
          return (
            <a
              href={sponsor.website}
              target="_blank"
              rel="noopener noreferrer"
              title={sponsor.name}
              class:list={["group", {'cursor-pointer': sponsor.website}]}
            >
              <div class={containerClass}>
                <div class:list={[imageContainerClass,'mb-2 sponsor-frame']}>
                  <Image
                    class:list={["w-full rounded-full", {['group-hover:opacity-75, transition-opacity']: sponsor.website}]}
                    src={sponsor.image}
                    alt={`${sponsor.name.trim()}-logo`}
                    width={150}
                    height={150}
                  />
                </div>
                {
                  priority < 6 && (
                    <h4 class={h4Class}>{sponsor.name}</h4>
                    <h5 class:list={[h5Class, {hidden: !!sponsor.tagline}]}>{sponsor.tagline}</h5>
                  )
                }
              </div>
            </a>
          );
        })
      }
    </div>
  </div>
</div>

<style>
  .sponsor-frame {
    width: 8.5rem; /* 136px */
    border: 1px solid #7c47c2;
    border-radius: 2rem;
    padding: 1rem;
    background: radial-gradient(
      165.01% 102.17% at 47.39% -2.17%,
      #5c09bb 3.97%,
      #5208a7 8.84%,
      #410874 22.11%,
      #3a0871 31.67%,
      #340864 38.79%,
      #330863 71.38%
    );
  }

  .frame-3 {
    width: 7.5rem; /* 120px */
  }

  .frame-4 {
    width: 6.25rem; /* 100px */
  }

  .frame-5 {
    width: 4.5rem; /* 72px */
    padding: 0.5rem;
    border-radius: 1.5rem;
  }

  .frame-6 {
    border: none;
    background: none;
    background-color: transparent;
    width: 3.75rem; /* 60px */
    margin: 0.5rem;
    padding: 0.5rem;
  }

  .text-3 {
    font-size: 0.813rem; /* 13px */
  }

  .text-4 {
    font-size: 0.813rem; /* 13px */
  }

  .text-5 {
    font-size: 0.813rem; /* 13px */
  }

  .border-gradient {
    border: 4px transparent;
    border-radius: 1rem;
    background-image: linear-gradient(#330063, #330063),
      linear-gradient(180deg, #fef85d 0%, #b5b142 44.5%, #989438 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }

  @media (min-width: 640px) {
    .sponsor-frame {
      width: 15rem; /* 240px */
    }

    .frame-3 {
      width: 11.25rem; /* 180px */
    }

    .frame-4 {
      width: 8.75rem; /* 140px */
    }

    .frame-5 {
      width: 7rem; /* 112px */
    }

    .frame-6 {
      width: 6rem; /* 96px */
    }

    .text-3 {
      font-size: 1.5rem; /* 24px */
    }

    .text-4 {
      font-size: 1.3125rem; /* 21px */
    }

    .text-5 {
      font-size: 1.125rem; /* 18px */
    }
  }
</style>
